.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Add this CSS in your stylesheets or style tag */
.form-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;/* Adjust the width as needed */
  margin: auto; /* Center the form horizontally */
  padding: 20px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.note-box h2{
  text-align: center;
}
.note-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:5px;
  padding: 5px;
}
.note-items{
  border: solid #346337 2px ;
  display: flex;
  padding-right: 15px;
  justify-content: space-between;
}
.note-items i{
padding-top: 10px;
}
.note-comp{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.note-comp span{
color: #026007;
font-weight: bolder;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
